.l-documents
    .b-documents
        h2.b-documents__ttl Документы
        .b-documents__list
            a(href="word.doc").b-documents__item.b-documents__item_format_doc
                .b-documents__text Заключение комитета по строительству
                .b-documents__format DOC, 58 Кб
            a(href="xls.xls").b-documents__item.b-documents__item_format_jpg
                .b-documents__text Разрешение на ввод объекта в эксплуатацию 1 очереди
                .b-documents__format XSL, 958 Кб
            a(href="#").b-documents__item.b-documents__item_format_pdf
                .b-documents__text Изменения в проектную декларацию от 01 октября 2013 года
                .b-documents__format PDF, 158 Кб
            a(href="#").b-documents__item.b-documents__item_format_png
                .b-documents__text Проектная декларация
                .b-documents__format DOC, 1005 Кб
            a(href="#").b-documents__item.b-documents__item_format_xls
                .b-documents__text Заключение комитета по строительству
                .b-documents__format DOC, 58 Кб
            a(href="#").b-documents__item.b-documents__item_format_zip
                .b-documents__text Разрешение на ввод объекта в эксплуатацию 1 очереди
                .b-documents__format DOC, 958 Кб
            a(href="#").b-documents__item
                .b-documents__text Изменения в проектную декларацию от 01 октября 2013 года
                .b-documents__format DOC, 158 Кб
