include ../mixins/all-mixins
header.b-header
    .b-header__menu.col-push-1.col-35.row
        .b-header__menu-logo
            img(src='/img/logo.png').col-6
            .b-header__logo-title.col-push-1.col-6 Кулинарный блог Елены
        nav.b-header__nav
            ul.b-header__nav-menu.col-9.col-push-1
                li.b-header__nav-menu-item
                    a(href='').b-header__nav-menu-item-link
                        |Рецепты
                li.b-header__nav-menu-item
                    a(href='').b-header__nav-menu-item-link
                        |Новости
                li.b-header__nav-menu-item
                    a(href='').b-header__nav-menu-item-link
                        |Обо мне
                li.b-header__nav-menu-item
                    a(href='').b-header__nav-menu-item-link
                        |Контакты
        form(action='' ).b-header_search-form.col-push-3.col-6
            input(type='search' placeholder='поиск по сайту').b-header__main-info_search_input
            button(type='submit').b-header__main-info_search_icon
                +svg('SVGs-01')