include ../mixins/all-mixins
header.b-header
    .b-header__menu.col-push-1.col-35
        .b-header__menu-logo
            img(src='/img/logo.png')
            .b-header__logo-title Кулинарный блог Елены