#popup-with-slider.mfp-hide.b-popup
   a(href="javascript:;" title="Закрыть").b-popup__close Закрыть попап
   .b-popup__cnt
      h1 Ion-slider в попапе
      p.
         Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus cursus lectus in odio placerat, vitae egestas libero vehicula. Vestibulum vestibulum purus at gravida efficitur. Donec quis condimentum sem, id aliquam ante. Quisque semper quis erat at viverra. Suspendisse
      include _range-slider-noinit
