.b-progress-bar
    // если дом сдан, то к .b-progress-bar__line добавить .is-inactive
    .b-progress-bar__base
        .b-progress-bar__line
            .b-progress-bar__current(style="width: 50%")
        .b-progress-bar__text 50%
    // если дом сдан то .b-progress-bar__done начать показывать добавив класс .is-active
    .b-progress-bar__done Дом сдан
