.b-tabs.j-tabs
    .b-tabs__triggers
        a(href="javascript:;" data-tab="tab-1").b-tabs__item.is-active Таб 1
        a(href="javascript:;" data-tab="tab-second").b-tabs__item Таб 2
        a(href="javascript:;" data-tab="tab-третий").b-tabs__item.is-disabled Таб 3
        a(href="javascript:;" data-tab="tab-4").b-tabs__item Таб 4
        a(href="http://google.ru").b-tabs__item Таб 5 (со ссылкой)

    ul.b-tabs__contents
        .b-tabs__content(data-tab-content="tab-1").is-active 111111111111
        .b-tabs__content(data-tab-content="tab-second") 222222222222
        .b-tabs__content(data-tab-content="tab-третий") 333333333333
        .b-tabs__content(data-tab-content="tab-4") 444444444444
