table.b-table
    thead
        tr
            th Заголовок колонки
            th Заголовок колонки
            th Заголовок колонки
            th Заголовок колонки
    tbody
        - for(var i=0; i<3; i++)
            tr
                td(data-column='Заголовок') Контент колонки
                td(data-column='Заголовок') Контент колонки
                td(data-column='Заголовок') Контент колонки
                td(data-column='Заголовок') Контент колонки
