extends _layout

block content
    .b-index.col-36.row
        .b-index__wrap
            .b-index__menu.col-push-1
                ul.b-index__menu-list
                    li.b-index__menu-list-item
                        a(href='').b-index__menu-list-item-link Салаты
                ul.b-index__menu-list
                    li.b-index__menu-list-item
                        a(href='').b-index__menu-list-item-link Закуски
                ul.b-index__menu-list
                    li.b-index__menu-list-item
                        a(href='').b-index__menu-list-item-link Первые блюда
                ul.b-index__menu-list
                    li.b-index__menu-list-item
                        a(href='').b-index__menu-list-item-link Вторые блюда
                ul.b-index__menu-list
                    li.b-index__menu-list-item
                        a(href='').b-index__menu-list-item-link Выпечка
                ul.b-index__menu-list
                    li.b-index__menu-list-item
                        a(href='').b-index__menu-list-item-link Десерты
                ul.b-index__menu-list
                    li.b-index__menu-list-item
                        a(href='').b-index__menu-list-item-link Напитки
            .b-index__nav-line.row.col-push-1.col-11
                ul.b-index__nav-line-list
                    li.b-index__nav-line-list-item
                        a(href='').b-index__nav-line-list-item-link
                            .b-index__nav-line-list-item-link-icon
                                +svg('SVGs-02')
                    li.b-index__nav-line-list-item
                        a(href='').b-index__nav-line-list-item-link Главная
                    li.b-index__nav-line-list-item
                        a(href='').b-index__nav-line-list-item-link Вторые блюда
                    li.b-index__nav-line-list-item
                        a(href='').b-index__nav-line-list-item-link.b-index__nav-line-list-item-link_light-gray Голень куриная с сыром