extends _layout

block content
    .b-index.col-36.row
        .b-index__wrap
            .b-index__menu.col-push-1
                ul.b-index__menu-list
                    li.b-index__menu-list-item
                        a(href='').b-index__menu-list-item-link Салаты
                ul.b-index__menu-list
                    li.b-index__menu-list-item
                        a(href='').b-index__menu-list-item-link Закуски
                ul.b-index__menu-list
                    li.b-index__menu-list-item
                        a(href='').b-index__menu-list-item-link Первые блюда
                ul.b-index__menu-list
                    li.b-index__menu-list-item
                        a(href='').b-index__menu-list-item-link Вторые блюда
                ul.b-index__menu-list
                    li.b-index__menu-list-item
                        a(href='').b-index__menu-list-item-link Выпечка
                ul.b-index__menu-list
                    li.b-index__menu-list-item
                        a(href='').b-index__menu-list-item-link Десерты
                ul.b-index__menu-list
                    li.b-index__menu-list-item
                        a(href='').b-index__menu-list-item-link Напитки
            .b-index__centr-container
                .b-index__nav-line.row.col-push-1.col-11
                    ul.b-index__nav-line-list
                        li.b-index__nav-line-list-item
                            a(href='').b-index__nav-line-list-item-link
                                .b-index__nav-line-list-item-link-icon
                                    +svg('SVGs-02')
                        li.b-index__nav-line-list-item
                            a(href='').b-index__nav-line-list-item-link Главная
                        li.b-index__nav-line-list-item
                            a(href='').b-index__nav-line-list-item-link Вторые блюда
                        li.b-index__nav-line-list-item
                            a(href='').b-index__nav-line-list-item-link.b-index__nav-line-list-item-link_light-gray Голень куриная с сыром
                .b-index__articles-title.col-15.col-push-1 Рецепты
                .b-index__articles.col-25.col-push-1
                    .b-index__articles-artic
                        .b-index__articles-artic-image
                            img(src='/img/img1.png')
                        .b-index__articles-artic-content
                            .b-index__articles-title-little Мясо в кислосладком соусе по-китайси
                            .b-index__articles-artic-content-text
                                |Мясо в кислосладком соусе - это очень интересное и невероятно ароматное блюдо, которое можно
                                |попробовать не только в китайских ресторанчиках. Его легко и просто приготовить в домашних
                                |условиях, нужно лишь запастить необъодимыми ингредиентами.
                            a(href='').b-index__articles-artic-link Подробнее

