extends _layout

block content
    .b-index
        .b-index__menu.col-push-1
            ul.b-index__menu-list
                li.b-index__menu-list-item
                    a(href='').b-index__menu-list-item-link Салаты
            ul.b-index__menu-list
                li.b-index__menu-list-item
                    a(href='').b-index__menu-list-item-link Закуски
            ul.b-index__menu-list
                li.b-index__menu-list-item
                    a(href='').b-index__menu-list-item-link Первые блюда
            ul.b-index__menu-list
                li.b-index__menu-list-item
                    a(href='').b-index__menu-list-item-link Вторые блюда
            ul.b-index__menu-list
                li.b-index__menu-list-item
                    a(href='').b-index__menu-list-item-link Выпечка
            ul.b-index__menu-list
                li.b-index__menu-list-item
                    a(href='').b-index__menu-list-item-link Десерты
            ul.b-index__menu-list
                li.b-index__menu-list-item
                    a(href='').b-index__menu-list-item-link Напитки
