body{
  background-image: url('/img/bg-pattern.png');
  background-size: cover;
}
.b-index__wrap{
  margin-top: 40px;
}
.b-index__menu-list{
  display: flex;
  flex-direction: column;
}
.b-index__menu-list-item-link{
  align-items: center;
  width: 302px;
  height: 50px;
  display: block;
  background-color: $green;
  margin-bottom: 15px;
  border-radius: 4px;
  color: $white;
  font-size: 16px;
  text-align: center;
  line-height: 50px;
  box-shadow: 0 4px 10px rgba($green, 0.8);
}
.b-index__nav-line-list{
  display: flex;
  flex-wrap: nowrap;
  margin-bottom: 35px;
}
.b-index__nav-line-list-item-link{
  color: $black-header;
  font-size: 14px;
}
.b-index__nav-line-list-item-link-icon{
  .b-icon__SVGs-02{
    fill: $green;
    width: 18px;
    height: 15px;
    top: 2px;
    position: relative;
  }
}
.b-index__nav-line-list-item{
  position: relative;
  margin-right: 20px;
  &:after {
    content: '';
    display: block;
    position: absolute;
    right: -11px;
    top: 11px;
    width: 5px;
    height: 5px;
    background-color: $green;
    border-bottom: 1px solid $green;
    border-left: 1px solid $green;
  }
  &:last-child {
    color: $gray;
    opacity: 0.7;
    &:after {
      display: none;
    }
  }
}
.b-index__articles-title{
  color: $green;
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 45px;
}
.b-index__articles-artic-image{
  float: left;
}
.b-index__articles-title-little{
  font-size: 24px;
  font-weight: 700;
  color: $green;
}
.b-index__articles-artic-content{
  margin-left: 10px;
}
.b-index__articles-artic-content-text{
  font-size: 16px;
  color: $black;
}
.b-index__articles-artic-link{
  font-weight: 700;
  color: $black;
}